*{
    font-family: 'Roboto', sans-serif;
}

header{
    position: relative;
}

nav{
  width:100% ;
  height: 50px;
  background: #212121;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding:13px 40px 13px 70px; 
    margin: 0;
    list-style-type: none;  /* убрали точки в списке */
}

.menu .menu_link{
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
}

.menu .menu_item{
    border-right: 2px dotted black ;
    padding-right: 30px;
}

.sabheader{
    position:absolute;
    min-width: 100%;
    height: 87px;
    background-color: rgba(0, 0, 0, .6);


}

.subheader_logo{
    display: block;
    margin-top: 16px;
    max-width: 100%;
}

.subheader_text{
    margin-top: 4px;
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.5;
}

.sabheader_text_1{
    display: block;
    text-align: right;
    margin-top: 24px;
    font-weight: 100;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    
}

.sabheader_nomder{
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    text-align: right;
}

.btn{
    text-align: center;
    align-items: center;
    width: 162px;
    height: 46px;
    font-weight: 400;
    font-size: 14px;
    color:#FFFFFF;


    margin-top: 21px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    border: none;
    border-radius: 4px; 
  }

  .promo{
    min-height: 800px;
    background: url(../img/uber_bg.jpg) center center/cover no-repeat;
    padding: 150px 0 185px 0;

  }

  h1{
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .promo_subheader{
    margin-top: 16px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .promo .promo_descr{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
  }

  .promo .promo_btn{
    display: block;
    margin: 0 auto;
    margin-top: 116px;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border:none;

    font-weight: 400;
    font-size: 18px;
    line-height: 63px;
    color: #FFFFFF;
  }

  .homework{
    
    min-height: 767px;
  }

  .homework .box{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 115px;
  height: 27px;
  background: #000000;

  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  color: #FFFFFF;
  }

  .homework .homework_text{
  display: block;
  text-align: center;
  margin-top: 30px;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  }




  .homework .homework_item{
  display: flex;
  justify-content: center;
  align-items: center;

  }


.homework .homework_icon{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 116px;
  height: 116px;
  background: #1EACC7;
  border-radius: 100%;

}
.homework .homework_artical{
  width: 371px;
  display: block;
  margin-left: 25px;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;

}

span{
  color:#1EACC7;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}

.margin{
  margin-top: 26px;
}

.margin_1{
  margin-top: 31px;
}

.margin_4{
  margin-top: 18px;
}

.margin_8{
  margin-top: 25px;
}

